@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@500&family=Roboto+Condensed&display=swap");

:root {
  --text-color: white;
  /* header background colors */
  --light-pink-transparent: #ff86ff31;
  --pink-transparent: #fb2bff25;
  --purple-transparent: #c102d32c;
  --violet-transparent: #5f0fff27;
  --blue-transparent: #1a05d91a;
  /* main color theme */
  --light-pink: #ff86ff;
  --pink: #fd2bff;
  --purple: #c202d3;
  --violet: #5e0fff;
  --blue: #1905d9;
  /* border colors */
  --border-blue: rgb(1, 110, 218);
  --border-purple: rgb(217, 0, 192);
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: linear-gradient(170deg, #050505f5 0%, #181717 100%);
  background-image: url("../imgs/nothingToSeeHere.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 5px var(--border-purple);
  }
  50% {
    box-shadow: 0 0 20px 10px var(--border-purple);
  }
  100% {
    box-shadow: 0 0 10px 5px var(--border-purple);
  }
}
