/* About projects card styling */
.about-card {
  font-size: 24px;
  width: 80%;
  margin: 40px;
  background-color: #56505a85 !important;
  box-shadow: 0 0 2px 2px white;
  color: white;
}
.about-card-header {
  font-size: 24px;
  font-family: "Phudu", cursive;
}
/* End of projects card styling */

/* Styling for projects h1 */
.the-projects {
  width: 80%;
}
.the-projects.row h1 {
  color: white;
  font-family: "Phudu", cursive;
  font-size: 50px;
  text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}
/* End of styling for project h1 */

/* Styling for accordion containing projects */
.projects {
  width: 80%;
}
.accordion {
  --bs-accordion-active-color: white;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-active-bg: white;
  --bs-accordion-btn-focus-box-shadow: none;
  margin: 10px 40px 40px 40px;
}
div.accordion-item {
  background-color: #56505a71;
  color: white;
  box-shadow: 0 0 1px 1px white;
  font-size: 24px;
}
button.accordion-button,
button.accordion-button.collapsed {
  background: #56505a10 !important;
  color: white;
  font-size: 24px;
}
/* End of styling for accordion containing projects */
