.header-border {
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)),
    radial-gradient(
      circle at left top,
      var(--border-blue),
      var(--border-purple)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px var(--border-purple);
  animation: glow 5s ease-in-out infinite;

  margin: 2px;
}
.header {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  background-image: linear-gradient(
    75deg,
    #42238054 0%,
    #8b1f8d56 20%,
    #8b1f8d56 80%,
    #42238054 100%
  );
}

.about-card {
  width: 80%;
  margin: 40px;
  background-color: #c102d350;
  box-shadow: 0 0 2px 2px var(--border-purple);
  color: var(--text-color);
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: top !important;
  gap: 1rem;
}

.project {
  background-color: #c102d350;
  box-shadow: 0 0 2px 2px var(--border-purple);
  color: var(--text-color);
  width: 25%;
}
