:root {
  --text-color: 256, 256, 256;
}

.navbar-container {
  font-size: 18px;
  background-color: rgba(5, 0, 7, 0.753);
}

a.brand-name {
  font-size: 24px;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.822),
    0 0 32px rgba(221, 228, 247, 0.7);
  color: white;
}

a.dropdown-toggle.show.nav-link {
  color: white;
}

a.nav-link {
  color: white;
}

a.brand-name:hover {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.nav-link:hover {
  color: rgba(var(--text-color));
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)),
    radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

button.navbar-toggler {
  background: white;
}

button.navbar-toggler.collapsed {
  background: white;
}
