/* Styling for actual navbar */
.navbar-container {
  font-size: 18px;
  background: black;
  box-shadow: inset 5px 5px 25px 5px #3e3c41, 5px 5px 12px 2px black;
}
/* Sets brand name text size and glow effect */
a.brand-name {
  font-size: 24px;
  font-family: "Phudu", cursive;
  color: white;
}
a.brand-name:hover {
  background: linear-gradient(
    to right,
    var(--border-blue),
    var(--border-purple)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
/* End of brand name style */

/* Nav Links */
a.nav-link,
a.dropdown-toggle.show.nav-link {
  color: white;
}
a.nav-link:hover {
  color: white;
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)),
    radial-gradient(
      circle at left top,
      var(--border-blue),
      var(--border-purple)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

/* End Nav Links*/

/* When navbar is collapsed */
button.navbar-toggler,
button.navbar-toggler.collapsed {
  background: white;
}
button.navbar-toggler:hover,
button.navbar-toggler.collapsed:hover {
  border: 2px double transparent;
  background-image: linear-gradient(rgb(231, 231, 231), rgb(235, 235, 235)),
    radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
/* End of navbar collapsed */
