/* Background for cards */
.weather-background {
  flex-wrap: wrap;
  background-image: linear-gradient(0deg, rgb(8, 8, 8) 0%, rgb(26, 24, 24) 50%);
  box-shadow: inset 0 0 50px rgba(100, 94, 94, 0.582), 0 0 1px 1px white;
  border-radius: 10px;
  margin: 30px;
  padding-bottom: 10px;
}

.current-day-title,
.five-day-title {
  margin: 5px;
  padding: 15px;
}

/* Start of styling for search features */
.search-field {
  padding: 10px;
  justify-content: center;
}

.cityName,
.stateName {
  color: white !important;
  border-radius: 5px;
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)),
    radial-gradient(
      circle at left top,
      var(--border-blue),
      var(--border-purple)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.search-location-btn {
  width: 125px;
  background-color: #b144fa70;
  --bs-btn-border-color: none;
  box-shadow: inset 0 0 25px rgba(173, 43, 156, 0.582);
}

.search-location-btn:hover {
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)),
    radial-gradient(
      circle at left top,
      var(--border-blue),
      var(--border-purple)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
/* End of styling for search features */

/* Start of styling for weather forecast content */
div.weather-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Start of styling for weather cards */
/* Start of base styling for all cards */
.cards {
  background-color: #521b7757;
  color: white;
  box-shadow: inset 0 0 20px rgba(150, 103, 103, 0.541),
    0 0 5px 1px rgba(255, 255, 255, 0.733), 0 0 2px white;
}

.card-header {
  font-family: "Phudu", cursive;
}

.card-title {
  margin: auto;
  font-family: "Phudu", cursive;
  padding: 10px;
}

.list-group-item {
  background-color: #0000003b;
  color: white;
  margin: 2px;
  border-radius: 5px;
  box-shadow: 0 0 1px white;
}

.list-group-flush {
  border-radius: 5px;
}
/* End of base styling for all cards */

/* Specific styling for current day card */
.current-day-div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.current-day-title {
  margin-left: 5px;
  width: 100%;
  color: white;
  font-family: "Phudu", cursive;
  text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}

.current-day-card {
  width: 80% !important;
}

/* Specific styling for future forecast */
.five-day-div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.five-day-title {
  width: 100%;
  color: white;
  font-family: "Phudu", cursive;
  text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}

.dayOneForecast,
.dayTwoForecast,
.dayThreeForecast,
.dayFourForecast,
.dayFiveForecast {
  margin: 5px;
  width: 19%;
}
/* End of styling for weather cards */

/* Adds mobile responisve functionality */
@media screen and (max-width: 1050px) {
  .current-day-card,
  .dayOneForecast,
  .dayTwoForecast,
  .dayThreeForecast,
  .dayFourForecast,
  .dayFiveForecast {
    min-width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .current-day-card,
  .dayOneForecast,
  .dayTwoForecast,
  .dayThreeForecast,
  .dayFourForecast,
  .dayFiveForecast {
    min-width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .current-day-card,
  .dayOneForecast,
  .dayTwoForecast,
  .dayThreeForecast,
  .dayFourForecast,
  .dayFiveForecast {
    min-width: 250px;
  }
}
